<html>

<head>
{% include 'basehead.html' %}
</head>

<body>
    {% include 'header.html' %}
    {% include 'navbar.html' %}
    <div class="container-fluid" style="text-align: center;">
    <h1>Contáctanos</h1>
    </div>
    <div class="container-fluid" style="text-align: center;">
        <form action="/contacto" method="post">
            {% csrf_token %}

            {{ form.non_field_errors }}
            <div class="mb-3 text-center">
            <label for='{{ form.customer_name }}'> Nombre: </label>
            <br>
                {{ form.customer_name }}
            <br>
            <div class="text-danger">
                {{ form.customer_name.errors }}
            </div>
            <label for='{{ form.customer_email }}'> Email: </label>
            <br>
                {{ form.customer_email }}
            <br>
            <div class="text-danger" style="text-align: center;">
                {{ form.customer_email.errors }}
            </div>
            <label for='{{ form.message }}'> Mensaje: </label>
            <br>
                {{ form.message }}
            <br>
            <div class="text-danger" style="text-align: center;">
                {{ form.message.errors }}
            </div>
            <br>
            <button type="submit" class="btn btn-primary">Enviar</button>
        </div>
        </form>

    </div>
    {% include 'footer.html' %}
</body>

</html>